.banner{
    width: 100%;
    background-image: url("/assets/banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: $font-montserrat;
    color: #fff;
    text-transform: uppercase;
    padding: 150px 0;
    .headline{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        font-size: 7rem;
        font-weight: 700;
        line-height: 0.9;
    }
    p{
        font-size: 3rem;
        font-weight: 600;
        padding-bottom: 50px;
    }
    @media (max-width: $breakpoint-mobile) {
        .headline{
            font-size: 3rem;
            width: auto;
        }
        p{
            font-size: 1.5rem;
            padding-bottom: 0;
        }
        .btn{
            font-size: 0.7rem;
        }
    }
}