.header{
    padding: 40px 0;
    background-color: #fff;
    .logo-wrapper{
        span{
            font-family: $font-montserrat;
            font-weight: 600;
            text-transform: uppercase;
            color: #ababab;
            font-size: 33px;
            &.logo{
                color: #000;
                letter-spacing: 8px;
                font-weight: 700;
            }
        }
    }

    .search{
        padding-top: 10px;
        input{
            width:100%;
            background-color: #f3f3f3;
            border: 2px solid #eeeeee;
            font-family: $font-hind;
            padding: 10px 20px;
            border-radius: 25px;
            &:focus{
                outline: none;
                border: 2px solid $accent-color;
            }
        }
    }
    .basket{
        padding-top: 20px;
        text-align: right;
        position: relative;
        cursor: pointer;
        span{
            font-family: $font-montserrat;
            color: #797979;
            font-weight: 500;
        }
        img.icon{
            max-width: 20px;
        }
        .basket-content{
            display: none;
            position: absolute;
            text-align: left;
            padding: 25px;
            background-color: #fff;
            border: 1px solid rgba(235,235,235,.2);
            right: 0;
            width: 27vw;
            .product-list{
                margin-top: 25px;
                border-top: 1px solid #ebebeb;
                border-bottom: 1px solid #ebebeb;
                padding: 15px 0;
                p{
                    font-family: $font-hind;
                }
                .title{
                    
                    font-size: 13pt;
                }
                .pricetag{
                    font-size: 16pt;
                    padding-bottom: 18px;
                }
            }
            .link{
                text-align: center;
                padding-top: 20px;
                a{
                    color: #424242;
                    text-decoration: underline;
                    font-family: $font-hind;
                    font-size: 14pt;
                }
            }
        }
        &:hover{
            .basket-content{
                display: block;
            }
        }
    }
    @media (max-width: $breakpoint-mobile) {
        padding: 15px 0;
        .logo-wrapper{
            span{
                font-size: 28px;
            }
        }
        .search{
            display: none;
        }
        .basket{
            display: none;
        }
    }
}