.section-navigation{
    background-color: #000;
    ul{
        li{
            display: inline-block;
            padding: 20px 30px 20px 0;
            a{
                padding: 20px 15px 20px 0;
                color: #fff;
                font-family: $font-montserrat;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 3px;
                transition: ease all .3s;
                &:hover{
                    text-decoration: none;
                    color: $accent-hover;
                }
            }
            &.sub-nav:hover{
                .sub-nav-content{
                    display: block;
                }
            }
        }
    }
    .sub-nav-content{
        display: none;
        position: absolute;
        width: 18vw;
        top: 65px;
        background-color: #fff;
        border: 1px solid #797979;
        ul{
            li{
                display: inline-block;
                width: 100%;
                padding: 20px 30px 20px 0;
                a{
                    padding: 20px 15px 20px 0;
                    color: #424242;
                    font-size: 13pt;
                    font-family: $font-montserrat;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    transition: ease all .3s;
                    &:hover{
                        text-decoration: none;
                        color: $accent-hover;
                    }
                }
                &:after{
                    content: "";
                    border-right: 2px solid #797979;
                    height: 8px;
                    width: 8px;
                    right: 30px;
                    margin-top: 8px;
                    position: absolute;
                    transform: rotate(45deg);
                    border-top: 2px solid #797979;
                }
            }
        }
    }
    .mobile-nav{
        padding: 20px 0;
        display: none;
    }
    #mobile-nav-content{
        z-index: 1;
        width: 80%;
        height:100vh;
        position: fixed;
        top:0;
        left:-100%;
        padding: 40px;
        background-color: #fff;
        border-right: 1px solid #d8d8d8;
        transition: all ease .3s;
        color: #797979;
        &.open{
            left:0;
        }
        #nav-title{
            font-family: $font-montserrat;
            font-size: 23px;
        }
        img{
            float: right;
        }
    }
    img{
        max-width: 30px;
    }
    @media (max-width: $breakpoint-mobile) {
        ul{
            li{
                width: 100%;
                a{
                    font-size: 13px;
                    color: #797979;
                }
                &:after{
                    content: "";
                    border-right: 2px solid #797979;
                    height: 8px;
                    width: 8px;
                    right: 0;
                    margin-top: 8px;
                    position: absolute;
                    transform: rotate(45deg);
                    border-top: 2px solid #797979;
                }
            }
        }
        .top-nav{
            display: none;
        }
        .mobile-nav{
            display: flex;
        }
    }
}