.products{
    padding: 70px 0;
    .title{
        text-transform: uppercase;
        font-family: $font-montserrat;
        font-size: 22pt;
        font-weight: 600;
        padding-left: 15px;
    }
    .slide{
        padding: 15px;
        .content{
            border: 1px solid #ebebeb;
            text-align: center;
        }
        img{
            margin-left: auto;
            margin-right: auto;
            max-height: 500px;
            max-width: 100%;
        }
        .description{
            border-top: 1px solid #ebebeb;
            color: #424242;
            padding: 25px;
            .title{
                font-family: $font-hind;
                font-size: 13pt;
            }
            .pricetag{
                font-family: $font-hind;
                font-size: 16pt;
                font-weight: 700;
            }
            a{
                border: 2px solid $accent-color;
                color: $accent-color;
                font-size: 10pt;
                font-weight: 700;
                font-family: $font-montserrat;
                text-transform: uppercase;
                padding: 10px 25px;
                border-radius: 30px;
                transition: ease all .3s;
                &:hover{
                    text-decoration: none;
                    background-color: $accent-hover;
                    border: 2px solid $accent-hover;
                    color: #fff;
                }
            }
        }
    }
    @media (max-width: $breakpoint-mobile) {
        padding: 50px 0;
        .title{
            font-size: 13pt;
            padding-left: 0;
        }
        .slide{
            padding: 5px;
            img{
                padding: 10px 20px;
            }
            .description{
                padding: 10px 10px 15px 10px;
                .title{
                    font-size: 6.5pt;
                }
                .pricetag{
                    font-size: 8pt;
                }
                a{
                    font-size: 5pt;
                }
            }
        }
    }
}