// FONTS
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "variables";
@import "header";
@import "nav";
@import "banner";
@import "slider";
@import "footer";

.my-container{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    @media (max-width: $breakpoint-mobile) {
        width: 90%;
    }
}

.btn{
    padding: 15px 50px;
    border-radius: 40px;
    font-weight: 600;
    &.btn-primary{
        border: 2px solid $accent-color;
        background-color: $accent-color;
        color: #fff;
        &:hover{
            border: 2px solid $accent-hover;
            background-color: $accent-hover;
        }
    }
}

ul.unstyled{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.uppercase{
    text-transform: uppercase;
}