.footer{
    background-color: #303030;
    color: #939393;
    padding: 120px 0;
    .heading{
        text-transform: uppercase;
        color: #fff;
        font-family: $font-montserrat;
        font-size: 20px;
        font-weight: 500;
    }
    p{
        font-family: $font-hind;
        line-height: 1.5;
    }
    img{
        max-height: 40px;
        padding-bottom: 15px;
    }
}